:root {
  /* Font Families */
  --font-main: 'Silka', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-headings: 'Silka', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Type Scale */
  --text-xs: 0.6875rem; /* 12px at 16px base */
  --text-sm: 0.875rem; /* 14px at 16px base */
  --text-md: 1rem; /* 16 at 16px base */
  --text-lg: 1.125rem; /* 18px at 16px base */
  --text-xl: 1.25rem; /* 20px at 16px base */
  --text-xxl: 1.5rem; /* 24px at 16px base */
  --text-xxxl: 1.75rem; /* 28px at 16px base */

  /* Font Weights */
  --text-regular: 400;
  --text-medium: 500;
  --text-semibold: 600;
  --text-bold: 700;

  /* Line height */
  --body-line-height: 1.4;
  --heading-line-height: 1.2;
}

/* Text styles */
.text {
  &--size-xs {
    font-size: var(--text-xs);
  }

  &--size-sm {
    font-size: var(--text-sm);
  }

  &--size-md {
    font-size: var(--text-md);
  }

  &--size-lg {
    font-size: var(--text-lg);
  }

  &--size-xl {
    font-size: var(--text-xl);
  }

  &--size-xxl {
    font-size: var(--text-xxl);
  }

  &--color-default {
    color: var(--color-text);
  }

  &--color-subtle {
    color: var(--color-text-subtle);
  }

  &--color-heading {
    color: var(--color-text-dark);
  }

  &--color-success {
    color: var(--color-success);
  }

  &--color-info {
    color: var(--color-info);
  }

  &--color-warning {
    color: var(--color-warning);
  }

  &--color-danger {
    color: var(--color-danger);
  }

  &--weight-regular {
    font-weight: var(--text-weight-regular);
  }

  &--weight-medium {
    font-weight: var(--text-weight-medium);
  }

  &--weight-bold {
    font-weight: var(--text-weight-bold);
  }
}

/* Text Utilities */
.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.text-hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
